*{
    margin: 0;
    padding: 0;
    
  }
  :root{
    font-family: system-ui;
    align-items: center;
  }
  
  #contenedor{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  #titulo{
    position: absolute;
    top: 0;
    left: 0;
  }
  button{
    background-color: grey;
    width: 20%;
    margin-bottom: 1em;
    padding: 0.5em;
    box-shadow: 3px 2px 4px;

  }
  input{
    width: 20%;

    margin-bottom: 1em;
    padding: 0.5em;
  }